/* IMPORT Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&family=Zen+Maru+Gothic:wght@300&display=swap');

/* SET Font & Background color for entire Body */
body {
  font-family: 'Quicksand', sans-serif !important;
  background-color: var(--primary-dark) !important;
}

/* ROOT COLOR VARIABLES */
:root {
  --primary-white: #ffffff;
  --secondary-color: #f78b07;
  --primary-dark: #120937;
  --background-color: rgb(26, 29, 29);
  --neutral-color: #29342d;
  --black: #000000;
}

/* NAVBAR */

nav {
  z-index: 2;
}

nav a.nav-link {
  font-weight: 800;
  letter-spacing: 0.0375rem;
  cursor: pointer;
  color: white;
  font-size: 1rem;
}

nav ul li {
  text-transform: uppercase;
}

.navbar-nav {
  background-color: (var(--primary-dark));
}

.navbar-nav > li > a {
  /* !important overrides bootstrap css for root color variables */
  color: var(--primary-white) !important;
  /* Spacing between navbar items */
  margin-right: 0.75rem;
  margin-left: 0.75rem;
  border-top: 0.1875rem solid transparent;
}

/* Navbar link hover effects */

.navbar-nav > li > a.active, .navbar-nav > li > a:focus {
  border-top: 0.1875rem solid var(--primary-white);
  font-weight: 800;
}

.navbar-nav > li > a:hover {
  color: var(--secondary-color) !important;
  border-top: 0.1875rem solid var(--secondary-color);
  font-weight: 800;
}

/* Main */

.logo {
  width: 270px;
  height: 200px;
}

.title {
  color: var(--primary-white);
  font-weight: 400;
}

.center {
  display: flex;
  justify-content: center;
  align-items:center;
  margin-top: 1rem;
}

/* FOOTER */

.footer-container{
  color: var(--primary-white);
  text-align: center;
}

.icons {
  color: var(--primary-white);
  height: 3rem;
  width: 3rem;
  margin-right: 1.75rem;
  margin-left: 1.75rem;
  margin-bottom: 2rem;
}


.icons-footer {
  color: var(--primary-white);
  height: 3rem;
  width: 3rem;
  margin-right: 1.75rem;
  margin-left: 1.75rem;
  margin-bottom: 2rem;
}

.icons:hover {
  color: var(--secondary-color) !important;
}

.icons-footer:hover {
  color: var(--secondary-color) !important;
}

footer {
  background-color: var(--black);
}

/* Sections */

h1 {
  color: var(--primary-white);
  display: flex;
  justify-content: center;
  align-items:center;
}

h2 {
  color: var(--primary-white);
  display: flex;
  padding-top: 1rem;
  justify-content: center;
  align-items:center;
}

h4 {
  color: var(--primary-white);
  display: flex;
  justify-content: center;
  align-items:center;
}

.main {
  padding: 2rem;
}


h6 {
  color: var(--primary-white);
  display: flex;
  justify-content: center;
  align-items:center;
}

.securityAndCompliance {
  background-color: var(--secondary-color);
  padding-bottom: 5rem;
}

.technology {
  /* background-color: var(--neutral-color); */
  padding-bottom: 5rem;
}

.billingAndPricing {
  background-color: var(--primary-dark);
  padding-bottom: 5rem;
}

.cloudConcepts {
  background-color: var(--primary-dark);
  padding-bottom: 5rem;
  justify-content: center;
  align-items: center;
}

.about{
  background-color: var(--black);
  padding-bottom: 5rem;
}

.deploymentModels {
  padding: 2rem;
  color: var(--primary-white)
}

.icon {
  color: var(--secondary-color);
}